button.signupButton {
<<<<<<< HEAD
    border : 2px solid black; 
}

button.signupButton:hover {
    background-color: black;
    color : white; 
=======
    border : 2px solid rgb(29, 28, 22);
}

button.signupButton:hover {
    background-color: rgb(29, 28, 22);
>>>>>>> f2a11b2fd1c93253670aed50323cb0ee035078dd
}

nav.login_navbar {
    height : 100px;
<<<<<<< HEAD
    border-bottom: 5px solid black;
=======
    border-bottom: 5px solid rgb(29, 28, 22);
>>>>>>> f2a11b2fd1c93253670aed50323cb0ee035078dd
}

div.bodyContent {
    height: 200px;
    margin-top : 150px; 
    margin-left : 600px;
    border-radius: 10px;
    height : 600px; 
    width : 650px;
    border: 1px solid black;
    box-shadow: 2px 4px;
}

div.bodyContent div.formBody {
    width : 400px;
    margin-left : 150px;
    margin-top : 50px;
}


div.bodyContent button.submitButton {
<<<<<<< HEAD
    border : 2px solid black;
=======
    border : 2px solid rgb(29, 28, 22);
>>>>>>> f2a11b2fd1c93253670aed50323cb0ee035078dd
    background-color: white;
    color : black;
    
}

div.bodyContent button.submitButton:hover {
<<<<<<< HEAD
    background-color: black;
    color : white; 
}

div.bodyContent div.formBody form input.form-control:focus {
    box-shadow: inset 0 1px 1px black, 0 0 8px black;   
=======
    background-color: rgb(29, 28, 22);
}

div.bodyContent div.formBody form input.form-control:focus {
    box-shadow: inset 0 1px 1px rgb(29, 28, 22), 0 0 8px rgb(29, 28, 22);   
>>>>>>> f2a11b2fd1c93253670aed50323cb0ee035078dd
} 

div.bodyContent img.LoginLogo {
    margin-left : 180px;
    margin-top: 50px;
}