{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title> 
        DashBoard | {{ user.first_name }}
    </title> 
    <link 
        rel="stylesheet"
        href="{% static 'css/dashboard.css' %}" > 
{% endblock %}

{% block body_content %}


    <nav 
        class="navbar navbar-light dashboard_nav">
        <div class="container-fluid dashboard_nav">
            <p class="h1 dashboard_title"> 
                <a href="{% url 'homePage' %}" style="text-decoration:None;">
                  DashBoard 
                </a> 
            </p> 


            <div class="user_data"> 
                <p class="h3"> 
                    {{ request.user.first_name }}, 
                    <a href="{% url 'userLogout' %}"> 
                        Logout
                    </a> 
                </p> 
            </div> 
        </div>
    </nav>
    {% comment %} 
        Put ppm Data Here.
    {% endcomment %}

     

    <div class="container"> 

        {% comment %}
            Put Here Data Related to PPM. 
        {% endcomment %}
    </div> 


    <div class="container"> 
        <p class="h2" style="text-align : center;"> 
            ppm Data Upate
        </p> 
    </div> 

    <hr />
 
{% endblock %}

